.jumbotron {
    height: 600px;
    width: 100%;
    margin-right: 50px;
    background-size: cover;
}
.welcome {
    /* width: 25%; */
    margin-left: 50px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.card-body {
    height: 200px;
    align-items: center;
}

.container {
    margin: 0 auto;
}